<div class="row">
  <h4 {{action "editModel" on="doubleClick"}} class="col s12">
    {{model.name}}
  </h4>
  <div class="col s12">
    {{#each model.tagList as |tag|}}
      <div class="chip" {{action 'tagClicked' tag}}>
        {{tag}}
      </div>
    {{/each}}
  </div>
</div>

<div class="row">
  <div class="col s12" {{action "editModel" on="doubleClick"}}>
    {{markdown-view value=model.description }}
  </div>
</div>

<div class="row">
  <div class="col s12">
    <h5>Acciones</h5>
    {{tenpines/material-button label='Eliminar' action='deleteModel' bgColor='red'}}
    {{tenpines/material-button label='Volver' action='goBack' flat=true }}
    {{tenpines/material-button label='Editar' action='editModel' bgColor='green' }}
  </div>
</div>