{{navigation-bar}}

<div class="row">
  <!-- Navegacion lateral -->
  <div class="col s3">

    <div class="row">
      {{multi-accion col="s12"}}
    </div>

    <div class="row">
      {{ejecutor-groovy col="s12" }}
    </div>

  </div>

  <!-- Vista principal -->
  <div class="col s6">
    <div class="row">
      {{visor-cytoscape col="s12"}}
    </div>
  </div>

  <!-- Busqueda lateral -->
  <div class="col s3">

    <div class="row">
      {{buscador-de-grafo col="s12"}}
    </div>

  </div>

</div>



