{{navigation-bar}}

<div class="row">
  <!-- Navegacion lateral -->
  <div class="col s3">
    <div class="row">
      {{creador-de-nodo col="s12"}}
    </div>

    <div class="row">
      {{creador-de-relacion col="s12"}}
    </div>

    <div class="row">
      {{agregador-propiedad-nodo col="s12"}}
    </div>

    <div class="row">
      {{agregador-propiedad-relacion col="s12"}}
    </div>

    <div class="row">
      {{removedor-propiedad-nodo col="s12"}}
    </div>

    <div class="row">
      {{removedor-propiedad-relacion col="s12"}}
    </div>

    <div class="row">
      {{borrador-de-nodo col="s12"}}
    </div>

    <div class="row">
      {{borrador-de-relacion col="s12"}}
    </div>

  </div>

  <!-- Vista principal -->
  <div class="col s6">
    {{visor-alchemy col="s12"}}
  </div>

  <!-- Busqueda lateral -->
  <div class="col s3">

    <div class="row">
      {{buscador-de-grafo col="s12"}}
    </div>

    <div class="row">
      {{ejecutor-groovy col="s12" }}
    </div>

  </div>

</div>



